<div class="bg-neutral-700 w-screen h-screen flex flex-col justify-center items-center text-neutral-200 font-[Cascadia]">
  <div class="w-2/3">
    <router-outlet ></router-outlet>
  </div>


<footer class="bg-white rounded-lg shadow-sm m-4 dark:bg-neutral-800 font-extralight">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">2025 <a href="https://flowbite.com/" class="hover:underline">Mateusz Żak</a>
  </span>
  <ul class="flex flex-wrap items-center ps-4 mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="#" class="hover:underline me-4 md:me-6">Github</a>
      </li>
      <li>
          <a href="#" class="hover:underline me-4 md:me-6">LinkedIn</a>
      </li>
      <li>
          <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
      </li>
  </ul>
  </div>
</footer>
</div>





